.h1 {
  justify-self: center !important;

}
.mdc-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 450px;
  height: 300px;
}
.mat-mdc-card-header {
  display: flex;
  padding: 16px 16px 0;
  justify-content: space-between;
}
