<h1 mat-dialog-title>{{ data.id ? 'Editar Proyecto' : 'Agregar Proyecto' }}</h1>
<div mat-dialog-content>
  <form #propuestaForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- Campo para el Título -->
    <mat-form-field appearance="fill">
      <mat-label>Título</mat-label>
      <input matInput [(ngModel)]="data.titulo" name="titulo" required>
    </mat-form-field>

    <!-- Campo para la Definición -->
    <mat-form-field appearance="fill">
      <mat-label>Definición</mat-label>
      <textarea matInput [(ngModel)]="data.definicion" name="definicion" required></textarea>
    </mat-form-field>

    <!-- Campo para Archivo -->
    <mat-form-field appearance="fill">
      <mat-label>Archivo</mat-label>
      <input matInput [(ngModel)]="data.archivo" name="archivo" required>
    </mat-form-field>

    <!-- Campo para Asignar Alumno -->
    <mat-form-field appearance="fill">
      <mat-label>Asignar Alumno</mat-label>
      <mat-select [(ngModel)]="data.alumno" name="alumno" required>
        <mat-option *ngFor="let alumno of alumnos" [value]="alumno.nombre">{{ alumno.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Botones de Acción -->
    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancelar</button>
      <button mat-button color="primary" type="submit" [disabled]="!propuestaForm.valid">Guardar</button>
    </div>
  </form>
</div>
