<mat-toolbar color="primary">
  <span>Gestión de Propuestas</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/alumnos">Alumnos</button>
  <button mat-button routerLink="/revisor-de-propuestas">Revisor de Propuestas</button>
  <button mat-button routerLink="/coordinador-de-revision">Coordinador de Revisión</button>
  <button mat-button routerLink="/gestores">Gestores</button>
  <button mat-button routerLink="/secretaria">Secretaria</button>
</mat-toolbar>
<router-outlet></router-outlet>
