<h2 mat-dialog-title>Nuevo Gestor</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="nuevoGestor.nombre" name="nombre" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Apellido</mat-label>
    <input matInput [(ngModel)]="nuevoGestor.apellidos" name="apellido" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Correo</mat-label>
    <input matInput [(ngModel)]="nuevoGestor.correo" name="correo" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Teléfono</mat-label>
    <input matInput [(ngModel)]="nuevoGestor.telefono" name="telefono" required />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="guardarGestor()" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>
