<div class="mat-app-background basic-container">

<h1>Secretaria</h1>
<div class="mat-app-background basic-container">
  <!-- Contenedor para centrar los botones -->
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="showRegistraPlan()">Registrar Planificacion</button>
    <button mat-raised-button color="primary" (click)="showCargarPropuestas()">Cargar Propuestas</button>
  </div>



<div *ngIf="isRegistrarPlanificacionVisible">
  <app-planificacion></app-planificacion>
</div>
<div *ngIf="isCargarPropuestasVisible">
  <app-propuestas></app-propuestas>
</div>
</div>
</div>
