.mat-app-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin: 20px;
}
.mdc-button{
  margin: 20px;
}
h1 {
  margin-top: 20px;
  justify-self: center;
}
